<!DOCTYPE html> 
<html>
    <title>STI Theme</title>
    <head>
        <meta charset="UTF-8">
        <title> <%- title %></title>
        <meta name="author" content="<%- config.author %>"
    </head>

    <%- css('css/main.css') %>

    <body>
        <div id="main">
            
            




        </div>
    </body>

    <%- js('js/main.js') %>
</html>